// Use !{var} to use unescaped conent
style(type="text/css") !{compiledStyle}
img.logo(src='http://localhost/static/logo.png')
h1.title Work Orders List

table
    thead
        tr
            th #
            th Name
            th Part
            th Quantity
            th Process
            th Description
            th Status
            
    tbody
        each line,index in data.list
            tr
                td #{index +1}
                td #{line.name}
                td #{line.partname}
                td #{line.quant}
                td #{line.procname}
                td #{line.description}
                td #{line.status}

//div.table-footer total: $#{data.total}

h3.comments-title Signiture
//p #{data.username}
